@import "variables"

body
 margin: 0
 padding: 0
 width: 100%
 font-family: "brandon grotesque", sans-serif
.container
 width: 67.8%
 margin: 0 auto
header
 background: rgba(0, 0, 0, 0.35) url("../img/banner.png") no-repeat center
 background-size: cover
 .container
  .wrapTop
   display: flex
   justify-content: space-between
   .logo
    display: flex
    align-items: center
    .fa-paper-plane
     font-size: 29px
     color: white
     margin: 10px
    p
     font-family: "Cubano", sans-serif
     font-size: 25px
     font-weight: 400
     text-transform: uppercase
     color: #ffffff
     letter-spacing: 2.5px
   ul
    display: flex
    justify-content: space-between
    li
     list-style: none
     margin: 20px
     a
      text-decoration: none
      color: #ffffff
      font-size: 18px
      font-weight: 500
      line-height: 41px
  .heading
   margin-top: 120px
   text-align: center
   p
    color: #ffffff
    font-size: 32px
    font-weight: 300
   h1
    color: white
    font-size: 66px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -1.65px
   input
    width: 240px
    height: 65px
    border: 2px solid white
    border-radius: 5px
    background-color: transparent
    color: white
    font-size: 23px
    font-weight: 700
    margin-bottom: 125px
#web
 .container
  padding-top: 40px
  padding-bottom: 60px
  box-sizing: border-box
  .web__wrap
   display: flex
   align-items: center
   justify-content: space-between
   .web__text
    width: 65%
    h2
     color: #222222
     font-size: 60px
     font-weight: 300
     span
      font-weight: 700
    p
     color: #777777
     font-size: 18px
     font-weight: 400
     line-height: 24px
   img
    width: 23%
.identity
 background-color: #fafafa
 .container
  padding-top: 100px
  padding-bottom: 100px
  box-sizing: border-box
  .identity__wrap
   display: flex
   justify-content: space-between
   align-items: center
   img
    width: 29%
   .identity__text
    width: 54%
    h2
     color: #222222
     font-size: 60px
     line-height: 75px
     font-weight: 300
     span
      font-weight: 700
     p
      color: #777777
      font-size: 18px
      font-weight: 400
      line-height: 24px
.skills
 padding-top: 100px
 padding-bottom: 100px
 box-sizing: border-box
 .skills__wrap
  max-width: 860px
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .skills__item
   max-width: 374px
   width: 100%
   display: flex
   align-items: center
   .skills__icon
    width: 72px
    height: 72px
    border-radius: 50%
    background-color: #222222
    display: flex
    align-items: center
    justify-content: center
   .skills__text
    max-width: 285px
    width: 100%
    margin-left: 20px
    h3
     color: #222222
     font-size: 22px
     font-weight: 500
     letter-spacing: -0.55px
    .upper
     text-transform: uppercase
    p
     color: #777777
     font-size: 18px
     font-weight: 400
     line-height: 18px
     letter-spacing: -0.45px
#awesome
 padding-top: 100px
 padding-bottom: 100px
 box-sizing: border-box
 background-color: #fafafa
 h2
  color: #222222
  font-size: 60px
  line-height: 75px
  font-weight: 300
  margin: 0
  text-align: center
  span
   font-weight: 700
 p
  color: #777777
  font-size: 22px
  font-weight: 400
  letter-spacing: -0.55px
  text-align: center
 .awesome__wrap
  max-width: 940px
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  .circle
   width: 221px
   height: 221px
   border-radius: 50%
   background-color: #111111
   border: 7px solid #ffffff
  .blockquote
   max-width: 663px
   width: 100%
   padding: 40px
   box-sizing: border-box
   color: #777777
   font-size: 26px
   font-weight: 400
   line-height: 28px
   p
    color: #7690c5
    font-size: 20px
    font-weight: 400
    line-height: 36px
    text-align: left
  .blockquote__first
   background: url("../img/Speak_Box.png") no-repeat center
  .blockquote__second
   background: url("../img/Speak_Box-2.png") no-repeat center
.logos
 height: 100%
 .logos__wrap
  padding: 60px
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  img
   margin: 15px
#team
 background-color: #111111
 padding-top: 70px
 padding-bottom: 97px
 box-sizing: border-box
 .team__flex
  display: flex
  flex-direction: column
  align-items: center
  h2
   color: #ffffff
   font-size: 60px
   line-height: 75px
   font-weight: 300
   margin-bottom: 0
   span
    font-weight: 700
  .team__one
   color: #777777
   font-size: 22px
   font-weight: 400
   margin-top: 0
  .team__wrap
   max-width: 780px
   width: 100%
   display: flex
   flex-wrap: wrap
   justify-content: space-between
   padding-top: 50px
   box-sizing: border-box
   .team__item
    max-width: 225px
    display: flex
    flex-direction: column
    align-items: center
    .team__circle
     width: 220px
     height: 221px
     border: 7px solid #ffffff
     border-radius: 50%
    .name
     color: #ffffff
     font-size: 18px
     font-weight: 700
     letter-spacing: -0.45px
     margin-top: 20px
    .profession
     color: #ebebeb
     font-size: 16px
     font-weight: 400
     letter-spacing: -0.4px
    .social
     display: flex
     justify-content: center
     .social__item
      width: 41px
      height: 41px
      display: flex
      justify-content: center
      align-items: center
      border: 3px solid #ffffff
      border-radius: 50%
      color: #ffffff
      font-size: 20px
      margin: 5px
      text-decoration: none
 .team__two
  max-width: 590px
  color: #ebebeb
  font-size: 20px
  font-weight: 400
  letter-spacing: -0.5px
  text-align: center
footer
 background-color: #7690c5
 padding-top: 70px
 .footer__flex
  display: flex
  flex-direction: column
  align-items: center
  .footer__wrap
   display: flex
   align-items: center
   justify-content: space-between
   flex-wrap: wrap
   .hello
    display: flex
    flex-direction: column
    width: 44%
    h2
     color: #ffffff
     font-size: 60px
     line-height: 75px
     font-weight: 300
     margin-bottom: 0
     span
      font-weight: 700
    p
     color: #ffffff
     font-size: 18px
     font-weight: 400
    .columns
     display: flex
     flex-wrap: wrap
     justify-content: space-between
     .contact
      width: 190px
      display: flex
      align-items: center
      color: #ffffff
      i
       width: 40px
       font-size: 27px
      p
       font-size: 18px
   form
    width: 48%
    display: flex
    flex-direction: column
    align-items: center
    input
     width: 350px
     border: 1px solid #cccccc
     background-color: #ffffff
     padding: 20px
     box-sizing: border-box
     margin: 15px
    textarea
     width: 350px
     padding: 20px
     box-sizing: border-box
     border: 1px solid #cccccc
     margin: 15%
  .line
   height: 1px
   width: 100%
   background-color: #87a0d2
  .copy
   color: #ffffff
   font-size: 16px
   font-weight: 500
   line-height: 22px
   margin: 30px






